html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em arial, sans-serif;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140% arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #FFF;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #F67F00;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
  color: #F67F00;
}

h4, h6 { 
  color: #F67F00;
  padding: 0 0 5px 0;
  font: normal 150% arial, sans-serif;
}

h5, h6 { 
  color: #888;
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

a { 
  outline: none;
  text-decoration: none;
  color: #0066CC;
}

a:visited{
  /*color: #551ABB;*/
}

a:hover { 
  outline: none;
  text-decoration: underline;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, nav, #container, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  margin: 50px auto;
  width: 980px;
  padding-bottom: 30px;
}

header { 
  background: transparent;
}

nav { 
  float: left;
  height: 44px;
  width: 980px;
  margin: 0 auto 0 auto;
  width: 220px;
  padding: 10px;
  font-size: 120%;
} 
#main-nav{
  border: 1px solid #C0C0C0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 10px;
}
#menu_container { 
  width: 980px;
  margin: 0 auto 0 auto;
}

#site_content { 
  width: 930px;
  margin: 0px auto 0 auto;
  float: left;
  margin-top: -15px;
  margin-left: -10px;
} 

#sidebar_container { 
  float: left;
  width: 220px;
  padding: 14px 0 0;
  margin-right: 25px;
}

.sidebar { 
  float: left;
  width: 220px;

}
  
.sidebar h3, .content h1 { 
  padding: 0 15px 10px 0;
  font: 200% arial, sans-serif;
  margin: 0 1px;
  color: #0066CC;
}

.sidebar h3 { 
  padding: 0 15px 14px 0;
  color: #FFF;
  font: 230% arial, sans-serif;
}

.sidebar ul { 
  margin: 0 0 15px 0;
} 

.sidebar li a, .sidebar li a:hover { 
  text-decoration: none;
} 

.sidebar li a:hover { 
  text-decoration: underline;
} 

.sidebar_item, .content_item { 
  padding: 15px 0;
}

.paperclip { 
  float: left;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -15px 0 -60px -40px;
}

.content { 
  text-align: justify;
  width: 640px;
  margin: 23px 10px 15px 0;
  float: left;
  font-size: 120%;
  border: 1px solid #C0C0C0;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  min-height: 635px;
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li{
  list-style-type: none;
  margin: 0 0 0 0; 
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}

.sidebar ul li { 
  list-style-type: none;
  margin: 0 0 0 0; 
  padding: 0 0 10px 28px;
  line-height: 1.5em;
}

footer { 
  width: 980px;
  font: 170% arial, sans-serif;
  text-shadow: 1px 1px #000;
  height: 30px;
  padding: 5px 0 20px 0;
  text-align: center; 
  color: #FFF;
  margin-top: 25px;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #FFF;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: underline;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #C6E7F0; 
  background: #EFF8FB; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 140% arial, sans-serif; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1EC9F4; 
  -webkit-border-radius: .5em .5em .5em .5em ; 
  -moz-border-radius: .5em .5em .5em .5em ;
  border-radius: .5em .5em .5em .5em ;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);  
  color: #FFF;
  border: solid 1px #0D8AA9;
  background: #46C4DD;
  background: -webkit-gradient(linear, left top, left bottom, from(#63CFDF), to(#17B2D9));
  background: -moz-linear-gradient(top,  #63CFDF,  #17B2D9);
  text-shadow: 1px 1px #178497;
}

.form_settings textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
}

table tr th, table tr td { 
  background: #70D4E6;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  background: #D3F2F7;
  color: #47433F;
  border-top: 1px solid #FFF;
}





/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */


/* Theming the menu */
ul#nav { 
  float: right;
}

ul#nav ul { 
  background: #0DBBD5;
  margin-top: 5px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding:7px 20px 6px 20px;
  font: 170% arial, sans-serif;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  margin-right: 2px;
}
#restaurant-list > li{
    list-style-type: disc;
    margin-left: 50px;
}
#restaurant-list > li p{
    padding: 0 0 5px;
}
#restaurant-list > li ul > li{
    list-style-type: circle;
    margin-left: 20px;
}
#restaurant-list > li ul > li span.arrow{
    color: green;
    font-size: 110%;
}
#list-to-remember li{
    padding: 0 0 4px 10px;
    margin: 0 0 0 20px;
    list-style-type: disc;
}
#main-nav li.active > a{
    color: #DD4B39;
}
ul#nav li a:hover,ul#nav li a:focus { 
  text-shadow: none;
}
ul#nav ul li a:hover,ul#nav ul li a:focus { 
  text-shadow: none;
}
ul.packlist > li{
    list-style-type: decimal;
    margin-left: 40px;
    padding-left: 10px;
}
ul.notelist > li{
    list-style-type: disc;
    margin-left: 40px;
    padding-left: 10px;
}
.font-bold{
    font-weight: bold;
}
.question{
    font-weight: bold;
    padding: 10px 10px 0px 10px;
}
.answer{
    padding: 10px 10px 15px 10px;
}
